{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center" style="height: 90vh;
    width: 100vw">
        <div class="alert alert-info mx-auto">
            <p>
                If an account matching your email exists, then an email was just sent that
                contains a link that you can use to reset your password.
                This link will expire
                in <strong>{{ resetToken.expirationMessageKey|trans(resetToken
                    .expirationMessageData, 'ResetPasswordBundle') }}</strong>
            </p>
            <p>If you don't receive an email please check your spam folder or <a
                        href="{{ path('app_forgot_password_request') }}">try again</a>.
            </p>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        a {
            color: orangered;
            text-decoration: none;
        }
    </style>
{% endblock %}
